*{
	text-align: center;
	font-family: sans-serif;
}
body {
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


input {
	margin: 2px;
}

#form {
	width: 35%;
	margin: 20px auto;
}
.btn {
	margin: 15px auto;
}